<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bibliotekamobilnapwr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ParseURLActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Rezerwacje"
            android:label="@string/title_activity_rezerwacje" >
        </activity>
        <activity
            android:name=".KomunikatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Konto"
            android:label="@string/title_activity_konto" >
        </activity>
        <activity
            android:name=".KsiazkiActivity"
            android:label="@string/title_activity_ksiazki" >
        </activity>
        <activity
            android:name=".EdytujKonto"
            android:label="@string/title_activity_edytuj_konto" >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".ChangePassActivity"
            android:label="@string/title_activity_change_pass" >
        </activity>
        <activity
            android:name=".ListReserveActivity"
            android:label="@string/title_activity_list_reserve" >
        </activity>
        <activity
            android:name=".BookingActivity"
            android:label="@string/title_activity_rezerwacje" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".OrdersActivity"
            android:label="@string/title_activity_orders" >
        </activity>
        <activity
            android:name=".RentsActivity"
            android:label="@string/title_activity_rents" >
        </activity>
        <activity
            android:name=".ConfirmationActivity"
            android:label="@string/title_activity_rezerwacje" >
        </activity>
        <activity
            android:name=".BookingStatementActivity"
            android:label="@string/title_activity_rezerwacje" >
        </activity>
        <activity
            android:name=".RecommendActivity"
            android:label="@string/title_activity_recommend" >
        </activity>
    </application>

</manifest>
